body {
    font-family: Arial, sans-serif;
    display: flex;
    background-image: url('assets/images/outros/fundoMusicas.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.player {
    margin-top: 5%;
    text-align: center;
    color: #fff;
    background: rgba(133, 91, 51, 0.9);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
}

.cover img {
    width: 100%;
    border-radius: 8px;
    height: 250px;
}

.controls {
    margin: 20px 0;
}

button {
   background: rgba(178, 133, 91);    /* background: #444; */
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    padding: 10px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: rgb(156, 116, 78);
    /* background: #555; */
}

button:focus {
    outline: none;
}

.track-info {
    margin-top: 10px;
}
#track-name{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: oblique;
}
.progress-container {
    margin: 20px 0;
    text-align: center;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    background: rgb(156, 116, 78);
    height: 5px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

#time {
    color: #ccc;
    margin-top: 5px;
}
#time span{
    font-weight: bold;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* navbar */
.navbar {
    background-color: #855b3b;
    padding: 1rem 0;
   position: fixed;
   top: 0;
   margin-bottom: 0;
   width: 100%;
   z-index: 10;
  
  }
  .containerr {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 1rem;
  }
  
   .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }
  
   .nav-links a:hover {
    color: rgba(255, 255, 255, 0.8);
    border-bottom: rgba(178, 133, 91) solid 2px;
   
  }  
  
  #logo{
    width: 7%;
  }