body{
    background-color: rgb(15, 13, 13);
}
label{
    display: block;
    margin-bottom: 3%;
    font-weight: 500;
    font-size: 18px;
    padding-left: 2%;
    font-family: "Playwrite DK Uloopet", cursive;
    margin-top: 5%;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

input{
width: 70%;
height: 23px;
border-radius: 5px;
border: 1px solid black;
font-weight: 500;
font-family: arial;
/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
padding-left: 2%;
font-size: medium;
}
#quadro{
    background-color:rgba(19, 18, 18, 0.787) ;
    text-align: center;
    border: 1px whitesmoke solid;
    width: 35%;
    margin-left: 30%;
    height: 500px;
    margin-top: 5%;
    padding: 0.5%;
    border-radius: 1.5%;
    color: white;
}
button{
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    width: 35%;
    border-radius: 8px;
    border-color: transparent;
    background-color: rgb(250, 250, 250);
    color: black;
    font-family: "Playwrite DK Uloopet", cursive;
    font-weight: bold;
    height: 35px;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
}
img{
    width: 30%;
    height: 23%;
    border-radius: 100%;
}

.playwrite-dk-uloopet {
  font-family: "Playwrite DK Uloopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
    #quadro {
        width: 90%; /* Largura maior em telas pequenas */
        margin: 10% auto; /* Ajusta a margem */
    }

    img {
        width: 50%; /* Ajusta o tamanho da imagem */
    }

    input {
        width: 90%; /* Ajusta o tamanho dos inputs */
    }

    button {
        width: 90%; /* Ajusta o tamanho do botão */
    }
}
p{
    color: red;
    font-family: arial;
    font-weight: bold;
}